@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea,
select {
  @apply text-gray-600 text-sm bg-background;
  @apply border border-gray-200 rounded-md py-2 px-3 w-full;
  @apply mb-3;
  @apply shadow-md;
}

input:focus,
textarea:focus {
  @apply border-primary;
}

h1 {
  @apply text-primary mb-4 text-xl;
}

label {
  @apply text-gray-600 text-sm;
}

.btn-primary {
  @apply bg-primary text-white px-4 py-1 rounded-md;
}

table.basic {
  @apply w-full bg-white rounded-md shadow-md;
}

table.basic thead tr td,
table.basic thead tr th {
  @apply text-sm text-gray-600 uppercase border-b border-gray-200 px-4 py-2;
}

table.basic tr td {
  @apply p-2;
}

table.basic a {
  @apply px-4 py-1 rounded-md inline-flex items-center gap-2 mx-1;
}

.btn-red,
.btn-default {
  @apply px-4 py-1 rounded-md;
}

.btn-red {
  @apply bg-red-200 text-red-600;
}

.btn-default {
  @apply bg-gray-600 text-white px-4 py-1 rounded-md;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
